# Git
.git
.gitignore
.gitattributes

# Docker files (not needed inside image)
Dockerfile
docker-compose.yml
.dockerignore

# Python
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
*.log

# Project specific - NOT NEEDED IN PRODUCTION
archive/
tools/
.github/
README.md
_templates/
